.pages_root {
  padding: 120px 0;
  text-align: left;

  li {
    margin: 8px 16px;
    word-break: keep-all;
    list-style-type: '-  ';
  }
}

.fit_in {
  position: absolute;
  inset: 0%;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.fit_out {
  position: relative;
}

.spinner {
  position: absolute;
  inset: 0%;
  width: 40px;
  height: 40px;
  margin: auto;
  border-top: 3px solid rgb(72 72 72 / 20%);
  border-right: 3px solid rgb(72 72 72 / 20%);
  border-bottom: 3px solid rgb(72 72 72 / 20%);
  border-left: 3px solid rgb(187, 187, 187);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 739.98px) {
  .slug_margin_top {
    margin-top: -80px;
  }
  .pages_root {
    padding: 120px 16px;
  }
}
