.pages_root {
  transition: all 0.7s;
  opacity: 1;
  transform: translateY(0px);
  
  text-align: left;

  li {
    margin: 8px 16px;
  }
}

@media screen and (max-width: 739.98px) {
  .pages_root {
    width: 100%;
  }
}

.init {
  opacity: 0;
  transform: translateY(-8px);
}

.exit {
  transition: all 0.2s;
  opacity: 0;
}
