form {
  position: relative;
  z-index: 0;
  padding: 0 15px;
  font-size: 12px;
  color: var(--color-second-color);
  background: var(--color-bg);
  border: solid 0.4px var(--color-border); // dark
  border-radius: 8px;
  box-shadow: 0 0 2px -0.4px var(--color-shadow); // light
  transition-duration: 0.5s;
}

input {
  width: 100%;
  height: 20px;
  margin-right: auto;
  margin-left: auto;
  color: var(--color-second-color);
  background: none;
  border: none;
  outline: none;
}

textarea {
  width: 400px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
  color: var(--color-second-color);
  background: none;
  border: none;
  outline: none;
}

label {
  display: block;
  flex-direction: column;
  margin: 8px 0;
}
