.link_container {
  z-index: 3;
  position: relative;
  display: inline-block;
  padding: 12px 24px 16px;
  width: 90px;
  height: 42px;
  white-space: nowrap;
  font-size: 14px;
}

.Shadow {
  z-index: 0;
  position: absolute;
  top: 0px;
  width: 90px;
  height: 42px;
  background: var(--color-header);
  box-shadow: 0 0 8px -6px rgb(0 0 0 / 40%);
  border-radius: 8px;
}

.icon_position {
  position: absolute;
  top: 16px;
  left: 6px;
}

.container {
  display: flex;
  justify-content: space-between; /* 左右に余白を設ける */
  align-items: center;
  height: 120px;
  width: 512px;
}

.slug_margin_top {
  margin-top: -60px;
}

@media screen and (max-width: 739.98px) {
  .slug_margin_top {
    margin-top: -80px;
  }

  .link_container {
    font-size: 12px;
  }

  .articles_hover {
    width: 0;
    height: 0;
  }
  .Shadow {
    top: 10px;
  }
  .icon_position {
    position: absolute;
    top: 14px;
    left: 6px;
  }
  .container {
    width: 100%;
  }
}
