@keyframes feed {
  from {
    opacity: 0.05;
  }

  to {
    opacity: 1;
  }
}

.FlexImage {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(40%);
  gap: 100px;
}

.Circle {
  z-index: 0;
  position: relative;
  border-radius: 8px;
  right: 50px;
  top: 25px;
  box-shadow: 0 0 6px -3px rgb(0 0 0 / 60%);
  transition-duration: 0.8s;
}

.Circle:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.Card {
  position: absolute;
}

.CardTexts {
  position: relative;
  color: var(--color-text);
}

.TwitterTexts {
  position: absolute;
  top: 20px;
  left: 20px;
  color: rgb(64 144 200);
}

.CardBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 180px;
  box-shadow: 0 0 6px -3px rgb(0 0 0 / 60%);
  border-radius: 25px;
  transition-duration: 0.8s;
}

.CardBox:hover {
  transform: scale(1.2);
  transition-duration: 0.8s;
}

.noAction {
  pointer-events: none;
}

.spinner {
  position: absolute;
  bottom: 60px;
  right: 60px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-top: 4px solid rgb(72 72 72 / 20%);
  border-right: 4px solid rgb(72 72 72 / 20%);
  border-bottom: 4px solid rgb(72 72 72 / 20%);
  border-left: 4px solid rgb(72 90 162);
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  position: fixed;
  color: skyblue;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  bottom: 450px;
  animation: load4 1.5s ease-out;
}
