@font-face {
  font-family: Rationale;
  src: url('./font/Rationale-Regular.ttf') format('TrueType');
}

// $Google: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans,
//   helvetica neue, sans-serif;

$NO: none;
$BG: #1f2a38;
$ST: #e1e1e1;
$SS: #4e92f8;
$FB: #ffb7b7;
$FE: #ffefef;
$YE: #f8f0df;
$ME: rgb(0 0 0 / 75%);

@mixin Margin_auto {
  margin-right: auto;
  margin-left: auto;
}
