@import 'syntax';
@import 'forms';

::-webkit-scrollbar {
  width: 0px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #8b8b8b;
  border-radius: 2px;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: rgb(200 200 204);
    --color-second-color: rgb(125 120 115);
    --color-light: rgb(190 194 200);
    --color-bg: rgb(25 25 28);
    --color-h1: rgb(240, 120, 200);
    --color-code: #222;
    --color-border: #333;
    --color-header: rgb(32, 32, 32);
    --color-shadow: rgb(255 255 255 / 0%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: rgb(55 65 81);
    --color-second-color: rgb(150 150 150);
    --color-light: rgb(117, 117, 117);
    --color-bg: #fffffe;
    --color-h1: rgb(0, 160, 185);
    --color-code: #f1f1f1;
    --color-border: #fff;
    --color-header: #f1f1f1;
    --color-shadow: rgb(0 0 0 / 50%);
  }
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  min-height: 100vh;
  padding: 80px 0;
  margin: auto;
  font-size: 14px;
  color: var(--color-text);
  text-align: center;
  word-break: break-all;
  background-color: var(--color-bg);
}

main {
  text-align: left;

  li {
    margin: 8px 16px;
  }
}

@media screen and (max-width: 739.98px) {
  main {
    transition: all 0.7s;
    opacity: 1;
    width: 100%;
  }
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

a {
  color: var(--color-light);
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 16px 0;
  line-height: 1.68;
  white-space: pre-wrap;
}

h1 {
  font-size: 20px;
  font-weight: normal;
}

h2 {
  width: fit-content;
  height: fit-content;
  font-size: 18px;
  font-weight: normal;
  color: var(--color-light);
}
