@import 'syntax';
@import 'forms';

::-webkit-scrollbar {
  width: 0px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #8b8b8b;
  border-radius: 2px;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: rgb(209 213 219);
    --color-second-color: rgb(175 170 165);
    --color-light: rgb(209 213 219);
    --color-bg: rgb(25 25 28);
    --color-h1: rgb(240, 120, 200);
    --color-code: #222;
    --color-border: #333;
    --color-header: rgb(32, 32, 32);
    --color-shadow: rgb(255 255 255 / 0%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: rgb(55 65 81);
    --color-second-color: rgb(150 150 150);
    --color-light: rgb(90, 90, 90);
    --color-bg: #fffffe;
    --color-h1: rgb(0, 160, 185);
    --color-code: #f1f1f1;
    --color-border: #fff;
    --color-header: #f1f1f1;
    --color-shadow: rgb(0 0 0 / 50%);
  }
}

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  transition-duration: 0.8s;
  background-color: var(--color-bg);
  color: var(--color-text);
  text-align: center;
  width: 600px;
  word-break: break-all;
  margin: auto;
  min-height: 100vh;
  font-size: 14px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.main_icon {
  border-radius: 50%;
  box-shadow: 0 0 4px -1px rgb(0 0 0 / 40%);
  pointer-events: none;
}

blockquote {
  margin: 0;
  padding-left: 20px;
  border-left: solid 6px gray;
}

hr {
  margin-bottom: 20px;
}

dt {
  font-size: 10px;
}

dd {
  margin-bottom: 14px;
  margin-left: 0;
}

dl {
  margin: 10px 0;
}

a {
  color: var(--color-second-color);
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

p {
  line-height: 1.68;
  white-space: pre-wrap;
  margin: 16px 0;
}

h1 {
  font-size: 20px;
  font-weight: normal;
}

h2 {
  height: fit-content;
  width: fit-content;
  font-size: 18px;
  font-weight: normal;
  color: var(--color-light);
}
