@media screen and (max-width: 739.98px) {
  .main_icon {
    transform: scale(0.88) translate(0);
    right: 8px;
    margin-top: 16px;
  }

  html {
    -webkit-text-size-adjust: none;
  }

  body {
    width: 100%;
    // global of min-height: 100vh;
    font-size: 12px;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }
}
