@media screen and (max-width: 739.98px) {
  [data-rehype-pretty-code-fragment] div {
    top: 10px;
  }

  [data-rehype-pretty-code-fragment] .line {
    font-size: 12.4px;
  }

  pre {
    width: 100%;
    overflow: scroll;
  }

  .p__width {
    width: 80%;
  }

  .main_icon {
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
    transform: scale(0.88) translateX(20px) translateY(18px);
    right: 20px;
  }

  body {
    height: 100%;
    width: fit-content;
    font-size: 12px;
  }

  .pages_root {
    padding: 120px 16px;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  .Mail form textarea {
    width: 305px;
    height: 220px;
  }
}
