@media screen and (max-width: 739.98px) {
  html,
  .p__width {
    width: 80%;
  }

  .main_icon {
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
    transform: scale(0.88) translate(0);
    right: 4px;
    margin-top: 16px;
  }

  body {
    width: 100%;
    height: 100%;
    font-size: 12px;
  }

  .pages_root {
    padding: 120px 16px;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  .Mail form textarea {
    width: 305px;
    height: 220px;
  }
}
