html {
  width: 100%;
  height: 100%;
}
body {
  color: var(--color-text);
  width: 480px;
  margin: auto;
  padding: 0 200px;
  word-break: break-all;
}

article {
  margin-top: 50%;
  min-height: 80vh;
}

.ul__width {
  width: 400px;
}

.wd {
  display: inline;
}

.container {
  display: flex;
  justify-content: space-between; /* 左右に余白を設ける */
  align-items: center;
  margin: 10px 0;
}

.ul__time-date {
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #dddddd;
    --color-second-color: rgb(175 170 165);
    --color-light: rgb(209 213 219);
  }
  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: rgb(55 65 81);
    --color-second-color: rgb(150 150 150);
    --color-light: rgb(55 65 81);
  }
  html {
    color-scheme: light;
  }
}
