.header__main {
  position: absolute;
  width: 100%;
  height: 74px;
}
.header__nav {
  position: relative;
  top: 14px;
  left: 600px;
  width: fit-content;
}
.header__ul {
  z-index: 0;
  display: flex;
}

.shadow {
  position: absolute;
  top: 0px;
  z-index: 0;
  width: 90px;
  height: 42px;
  background: var(--color-header);
  border-radius: 8px;
  box-shadow: 0 0 8px -6px rgb(0 0 0 / 40%);
}

.link_container {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 42px;
  padding: 12px 24px 16px;
  font-size: 14px;
  white-space: nowrap;
}

.after_color {
  color: var(--color-light);
}

.icon_position {
  position: absolute;
  top: 14px;
  left: 8px;
}

@media screen and (max-width: 739.98px) {
  .header__nav {
    position: absolute;
    right: 0;
    left: auto;
    font-size: 10px;
  }
  .shadow {
    top: 10px;
    margin-left: -4px;
  }
  .link_container {
    right: 4px;
    font-size: 12px;
  }
  .icon_position {
    position: absolute;
    top: 14px;
    left: 10px;
  }
}
