.base {
  transition: all 0.5s;
  opacity: 1;
  transform: translateY(0px);
}

.init {
  transition: all 1.2s;
  opacity: 0;
  transform: translateY(-20px);
}

.exit {
  transition: all 0.5s;
  opacity: 0;
}
