.search_box {
  position: relative;
  width: 520px;

  padding: 0 8px;
  margin: auto;
}

.search_container {
  width: fit-content;
  margin-left: 28px;
  border: solid 0.4px var(--color-border);
  border-radius: 2px;
  box-shadow: 0 0 2px -0.4px var(--color-shadow);
}

@media screen and (max-width: 739.98px) {
  .search_box {
    position: relative;
    top: 0px;
    left: 10%;
    width: 100%;
  }

  .search_container {
    width: 80%;
  }
}
