.base {
  transition: all 0.7s;
  opacity: 1;
  scale: 1;
  transform: translateY(0px);
}

.init {
  opacity: 0;
  transform: translateY(-8px);
}

.exit {
  transition: all 0.2s;
  opacity: 0;
  scale: 1.1
}
