.footer_text {
  position: relative;
  font-size: 12px;
  color: var(--color-light);
  text-align: left;
}
.footer_icon {
  position: static;
  bottom: 40px;
  display: flex;
  gap: 12px;
}

.footer_main {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 120px;
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 739.98px) {
  .footer_main {
    right: 16px;
  }
  .footer_text {
    left: 16px;
  }
}
