.post_to_posts {
  position: absolute;
  top: 142px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--color-second-color);
  transform: translateY(-100%);
}
.mail_to_posts {
  position: absolute;
  top: 120px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--color-second-color);
  transform: translateY(-100%);
}

@media screen and (max-width: 739.98px) {
  .post_to_posts {
    right: 18px;
  }

  .mail_to_posts {
    right: 6px;
  }
}
